<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>

<table>
<% @topics.each do |topic| %>
  <tr>
    <td><strong><%= topic.name %></strong></td>
    <td><em><%= topic.systematic_name %></em></td>
    <td><%= link_to 'Show', topic %></td>
  </tr>
<% end %>
</table>
