<h1>Topics</h1>

<table class="table">
<% @topics.each do |topic| %>
  <tr>
    <td><strong><%= topic.name %></strong></td>
    <td><em><%= topic.systematic_name %></em></td>
    <td><%= link_to 'Show', topic %></td>
  </tr>
<% end %>
</table>
